{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>پروفایل</h1>
        <hr>
        <img src="{{ profile.avatarurl }}" id="profile_image">
        <p><strong>نام: </strong> <span id="text_first_name">{{ profile.first_name }}</span></p>
        <p><strong>نام خانوادگی: </strong> <span id="text_last_name">{{ profile.last_name }}</span></p>
        <p><strong>نام کاربری: </strong> <span id="text_user_name">{{ profile.username }}</span></p>
        <a type="button" class="btn btn-primary" id="setting" href="/setting" role="button">ویرایش پروفایل</a>

    </div>


{% endblock %}
